<div class="container">
    <div class="row">
        <h1>Flags</h1>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Name" />
        </div>
        <div class="col">
            <button class="btn btn-outline-success me-md-2" (click)="filterFlags()">Filter</button>
            <button class="btn btn-outline-info" routerLink="/flag/new">New</button>
        </div>
    </div>

    <br>

    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>App</th>
                <th>Environment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flg of flags" (click)="edit(flg.id)">
                <td>{{flg.name}}</td>
                <td>{{flg.app}}</td>
                <td>{{flg.environment}}</td>
            </tr>
        </tbody>
    </table>
</div>